.App {
	display: flex;
	min-height: 100vh;
}
.mobile {
	display: none;
}
/* nawigacja */

aside {
	width: 30vw;
	min-height: 100vh;
	background-color: black;
}

img.logo {
	position: fixed;
	left: 0;
	margin: 5vh 2vw;
	opacity: 60%;
	width: 7vw;
	height: 7vw;
	transition: opacity 0.4s linear;
}

img.logo:hover {
	opacity: 100%;
}

nav {
	position: fixed;
	margin-left: 2vw;
	bottom: 2rem;
	text-align: left;
	font-size: 2.1vw;
	font-weight: 100;
	text-transform: uppercase;
}

nav a {
	color: white;
	text-decoration: none;
	opacity: 50%;
}

nav a:hover {
	font-weight: 700;
	opacity: 100%;
	transition: 0.4s linear;
}
nav a.active {
	font-weight: 700;
	opacity: 100%;
	color: goldenrod;
}

/* główny kontent */

main {
	background-color: black;
	color: white;
	width: 100%;
	padding: 0 2vw;
}
main .wrapper {
	position: relative;
	height: 100vh;
}
main h2 {
	position: relative;
	top: 30vh;
	font-size: 7rem;
	text-transform: uppercase;
	margin-bottom: 2vh;
	opacity: 80%;
}
main p {
	position: relative;
	top: 30vh;
	font-size: 1.5rem;
	font-weight: 300;
	padding-right: 5vw;
}

main h3 {
	font-size: 2rem;
}

main span.label {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 400;
}

/* stylowanie pojedynczego mema */

.infoNoMems {
	margin: 5rem auto;
	font-size: 1.2rem;
}
.infoNoMems a {
	color: goldenrod;
	text-decoration: none;
	font-weight: 400;
}
.infoNoMems a:hover {
	font-weight: 900;
	transition: 0.2s linear;
}
.infoNoMems br {
	display: block;
	content: " ";
	margin-bottom: 24px;
}
div.memCard {
	width: 70%;
	margin: 5vh auto;
	border: 1px white solid;
	padding: 2%;
	text-align: center;
}
div.memHeader {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-content: right;
}
.memTitle {
	text-align: left;
	flex-grow: 2;
}
.star {
	background-color: transparent;
	border-style: solid;
	border-color: white;
	padding: 10px;
	border-radius: 50%;
	color: white;
	font-size: 2rem;
	transition: 0.4s linear;
}
.star:hover {
	color: goldenrod;
	border-color: goldenrod;
	cursor: pointer;
}
.star.active {
	color: goldenrod;
	border-color: goldenrod;
}
.star.active:hover {
	color: white;
	border-color: white;
}
div.memCard img {
	width: 80%;
	margin: 5vh auto;
}
.voteBtn {
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 40%;
	font-size: 3rem;
	margin-left: 1px;
}
.voteBtn:hover {
	color: goldenrod;
	border-color: goldenrod;
	cursor: pointer;
	transition: 0.4s linear;
}

/* strzałka scrollowania */

.arrow {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%);
	background-color: transparent;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	border: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 9vh;
	text-shadow: 0px -35px rgba(255, 255, 255, 0.5),
		0px -70px rgb(255, 255, 255, 0.3);
	overflow: hidden;
	border: 2px solid rgba(255, 255, 255, 0.7);
	transition: 0.4 linear;
}

.arrow:hover {
	color: goldenrod;
	text-shadow: 0px -35px rgba(218, 165, 32, 0.5),
		0px -70px rgb(218, 165, 32, 0.3);
	cursor: pointer;
	border-color: goldenrod;
}
.arrow i {
	animation: arrow linear infinite 1s;
}
@keyframes arrow {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(200%);
	}
}

/* dodawanie mema */

main form {
	position: relative;
	top: 30vh;
	font-size: 1.5rem;
	font-weight: 300;
}

button.addMemBtn {
	position: relative;
	text-align: right;
	top: 35vh;
	font-size: 1.5rem;
	font-weight: 300;
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 1rem;
	transition: 0.4s linear;
}
button.addMemBtn:hover {
	color: goldenrod;
	border-color: goldenrod;
	padding: 1rem;
	cursor: pointer;
}

label {
	display: block;
	font-size: 2rem;
}
input {
	background-color: transparent;
	border-radius: 10px;
	border: 2px solid;
	border-color: white;
	width: 100%;
	color: goldenrod;
	font-size: 2rem;
	margin: 1rem 0;
	padding: 0.5rem;
	opacity: 0.8;
}
input:focus {
	border-color: goldenrod;
}
.displayNone {
	display: none;
}
p.thanks {
	display: block;
}
p.thanks span{
	color: goldenrod;
	font-weight: 400;
	transition: 0.2s linear;
}

p.thanks span:hover {
	cursor: pointer;
	font-weight: 900;
}

/* Responsywność */

@media screen and (max-width: 1920px) and (min-width: 1280px) {
	main h2 {
		font-size: 4.5rem;
	}
	nav {
		font-size: 2.5vw;
	}
	aside {
		width: 40vw;
	}
}
@media screen and (max-width: 1280px) and (min-width: 768px) {
	main h2 {
		font-size: 3rem;
	}
	nav {
		font-size: 4vw;
	}
	aside {
		width: 60vw;
	}

	div.memCard {
		width: 90%;
		padding: 2%;
	}
	.memTitle {
		font-size: 24px;
	}
	.star {
		padding: 5px;
		font-size: 1.5rem;
	}
	div.memCard img {
		width: 98%;
		margin: 2vh auto;
	}
	.voteBtn {
		border: 1px solid white;
		width: 49%;
		font-size: 2rem;
	}
	main p {
		font-size: 18px;
	}
	.infoNoMems {
		font-size: 1rem;
	}
	img.logo {
		width: 15vw;
		height: 15vw;
	}
}

@media screen and (max-width: 768px) {
	aside {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile img.logoMobile {
		position: absolute;
		right: 8px;
		top: 8px;
		opacity: 100%;
		width: 15vw;
		height: 15vw;
	}
	nav.mobile {
		margin-left: 8px;
		font-size: 9vw;
		font-weight: 400;
		text-transform: uppercase;
	}
	a.mobile {
		font-size: 8vw;
		color: goldenrod !important;
	}
	.mobile a {
		color: white;
		text-decoration: none;
		opacity: 95%;
		text-transform: uppercase;
	}
	main h2 {
		top: 18vh;
		font-size: 2.5rem;
		margin: 0 8px;
	}
	main p {
		position: relative;
		top: 20vh;
		font-size: 1.2rem;
		font-weight: 300;
		margin: 0 8px;
	}
	.infoNoMems {
		margin: 2rem 8px;
	}
	div.memCard {
		width: 100%;
	}
	.memTitle {
		font-size: 18px;
	}
	.star {
		padding: 5px;
		font-size: 1.1rem;
	}
	div.memCard img {
		width: 100%;
		margin: 2vh auto;
	}
	.voteBtn {
		width: 49.5%;
		font-size: 2rem;
	}
}

@media screen and (max-width: 360px) {
	main h2 {
		font-size: 2rem;
	}
}
